*{
    padding: 0;
    margin: 0;
    border: 0;
}

.cabecalho{
    width: auto;
    height: 200px;
    background: black;
}

.menu{

}

li{
    color: white;
}

.minha_imagem{
    height: 200px;
    width: auto;
}

.texto_imagem{
    display: block;
    margin: auto;
}