*{
    padding: 0;
    margin: 0;
    border: 0;
}

.cabecalho{
    width: auto;
    height: 200px;
    background: black;
}

li{
    color: white;
}

.minha_imagem{
    height: 200px;
    width: auto;
}

.texto_imagem{
    display: block;
    margin: auto;
    justify-content: center;
}

.posts{
    border: black 5px solid;
    padding: 10px
}

p{
    margin-top: 20px;
    font-size: 15px;
}